html * {
    margin: 0;
}

body, html {
    height: 100%;
}

#navigation {
    width: 50px;
    float: left;
    height: 100%;
    padding: 5px 0;
    background-color: #165a89;
    color: white;
}

#navigation li {
    padding: 0 7px;
    margin: 5px 0;
}

#navigation a {
    color: #eeeeee;
}

#debug-button {
    position: absolute;
    bottom: 0;
}

#view {
    padding: 5px;
}

#active-filename {
    width: 700px;
    height: 20px;
    font-size: 18px;
}

#tags {
    float: right
}

.tag {
    display: inline;
    background-color: orange;
    padding: 3px 10px;
    border-radius: 2px;
    color: aliceblue;
    margin: 5px;
}

.tag:hover {
    cursor: pointer;
}

#proposed-tag {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    border: 0;
    background-color: orange;
    padding: 0 5px;
    border-radius: 2px;
    color: white;
}

#proposed-tag:focus {
    outline: none;
}

/* PDF rendering */

#pdf-canvas {
    width: 360px;
    height: 480px;
    border: 1px solid #bbb;
    padding: 2px;
}

#pdf-container {
    position: relative;
    display: inline-block;
}

.pdf-nav-button {
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 10px;
    left: calc(50% - 40px);
}

.pdf-nav-button:last-child {
    left: calc(50%);
}

.pdf-nav-button:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}

.pdf-nav-button-disabled {
    color: rgba(0, 0, 0, 0.1) !important;
    cursor: not-allowed !important;
}

/* Settings */

.form-group {
    margin: 2px 0;

}

label {
    width: 150px;
    text-align: right;
    display: inline-block;
}