html * {
    margin: 0;
}

body, html {
    height: 100%;
}

#navigation {
    width: 50px;
    float: left;
    height: 100%;
    padding: 5px 0;
    background-color: #165a89;
    color: white;
}

#navigation li {
    padding: 0 7px;
    margin: 5px 0;
}

#navigation a {
    color: #eeeeee;
}

#debug-button {
    position: absolute;
    bottom: 0;
}

#view {
    float: left;
    padding: 5px;
}

#pdf-canvas {
    width: 200px;
    height: 300px;
}