<h1>LOGS</h1>

<div ng-hide="log" class="first-use-message">
    Seems like you don't have any logs yet. <br/>Have you <a href="#/settings">configured</a> Ralphy already?
</div>

<div id="logs-container" ng-show="log">
    Last run: {{log.lastRun}}
    <table id="logs">
        <tr>
            <th>Action</th>
            <th>Date</th>
            <th>Original Name</th>
            <th>Destination</th>
        </tr>
        <tr ng-repeat="logEntry in log.logs | orderBy: '-created'" ng-class="logEntry.debug ? 'debug': ''">
            <!--<td>{{logEntry}}</td>-->
            <td>{{logEntry.action}}</td>
            <td>{{logEntry.created}}</td>
            <td>{{logEntry.oldName}}</td>
            <td>
                <a ng-show="logEntry.folderUrl != null" ng-click="openUrl(logEntry.folderUrl)">
                    [dir]
                </a>
                <a ng-show="logEntry.url != null" ng-click="openUrl(logEntry.url)">
                    {{logEntry.folderPath}}/{{logEntry.newName}}
                </a>
                <span ng-show="logEntry.url == null">{{logEntry.folderPath}}/{{logEntry.newName}}</span>
            </td>
        </tr>
    </table>
</div>