<div id="file-browser">
    <table id="file-list">
        <tr class="file" ng-repeat="file in files">
            <td class="tag-column">
                <span class="no-tag" ng-show="file.tag == null || file.tag.displayName == ''">NO TAG</span>
                <span class="tag" ng-class="file.tag.unknown && 'unknown-tag'"
                      ng-show="file.tag && file.tag.displayName != ''">{{file.tag.displayName}}</span>
            </td>
            <td><a href="" ng-click="activate(file.name)" focus-tag>{{file.nameTagless}}</a></td>
        </tr>
    </table>

    <div id="active-file">
        <div id="pdf-container">
            <canvas id="pdf-canvas"></canvas>
            <!--<div ng-show="activeFile.currentPage != activeFile.maxPage">-->
            <i class="fa fa-2x fa-chevron-circle-left pdf-nav-button" aria-hidden="true"
               ng-class="activeFile.currentPage == 1 && 'pdf-nav-button-disabled'"
               ng-click="pdfPrevPage()"></i>

            <i class="fa fa-2x fa-chevron-circle-right pdf-nav-button" aria-hidden="true"
               ng-class="activeFile.currentPage == activeFile.pdfDocument.numPages && 'pdf-nav-button-disabled'"
               ng-click="pdfNextPage()"></i>
            <!--</div>-->
        </div>

        <form ng-submit="changeName()">
            <div id="proposed-container">
                <span id="proposed-tag" type="text" ng-model="proposed.tag.tag" contenteditable="true"></span>
                <span id="proposed-filename" type="text" ng-model="proposed.name" contenteditable="true"></span>
                <span id="pdf-extension">.pdf</span>
            </div>
            <div class="tag-group">
                Suggested tags:
                <div class="tag" ng-class="tagObj.unknown && 'unknown-tag'"
                     ng-repeat="tagObj in activeFile.suggestedTags"
                     ng-click="applyTag(tagObj)">
                    {{tagObj.displayName}}
                </div>
            </div>
            <div>
                Suggested filenames:
                <div class="suggested-filename"
                     ng-repeat="filename in activeFile.suggestedFilenames"
                     ng-click="applyFilename(filename)">
                    {{filename}}
                </div>
            </div>
            <div class="variable-group">
                Variables:
                <div class="variable" ng-click="alert('TODO')">- %{date}</div>
                <div class="variable">- %{year}</div>
            </div>

            <button type="submit">Rename</button>
        </form>
    </div>

</div>

<div id="all-tags" class="tag-group">
    <div ng-repeat="(tag,tagObj) in tags" class="tag" ng-class="tagObj.unknown && 'unknown-tag'">
        <div ng-click="applyTag(tagObj)">
            {{tag}}
        </div>
        <i class="fa fa-cog edit-tag" aria-hidden="true" ng-click="editTag(tagObj)"></i>
    </div>
</div>

<div id="current-tag">
    <div ng-show="activeTag == null">Select a tag to see its details</div>
    <div ng-show="activeTag != null">
        <h1>{{activeTag.displayName}}</h1>
        <form ng-submit="saveTags()">
            <div class="form-group">
                <label for="activeTagDest">Target destination</label>
                <input id="activeTagDest" type="text" ng-model="activeTag.dest"/>
            </div>
            <div class="form-group">
                <label for="activeKeywords">Keywords</label>
                <input id="activeKeywords" type="text" ng-list="," ng-model="activeTag.keywords"/>
            </div>
            <button type="submit">Save</button>
            <button class="delete-tag-button" ng-click="deleteTag(activeTag)">Delete</button>
        </form>
    </div>
</div>
